<fieldset data-controller="checkbox">
  <legend class="sr-only">Select All</legend>
  <div class="space-y-5">
    <div class="relative flex justify-center items-start">
      <div class="flex h-6 items-center">
        <input id="comments" aria-describedby="comments-description" name="comments" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" data-checkbox-target="selectAll" data-action="click->checkbox#toggle">
      </div>
      <div class="ml-3 text-sm leading-6">
        <label for="comments" class="font-medium text-gray-900">Select All</label>
      </div>
    </div>
  </div>

<div class="flex flex-wrap gap-2 mt-8 justify-center">
  <% @flashcards.each do |flashcard| %>
  
    <%= render flashcard %>
    
  <% end %>
 </div>
</fieldset>

