<div class="flex-col">
<div>THis is the cards details page for <%= @flashcard.front %></div>
<br>
<div class="font-medium text-blue-600 dark:text-blue-500 hover:underline"><%= link_to "Return to Flashcards", flashcards_path %></div>
</div>
<br>
<div class="flex flex-col">
  <div>Admin:</div>
  <div>Edit</div>
  <Div>
<%= button_to "Destroy", flashcard_path(@flashcard), method: :delete, data: { confirm: "Are you sure?" } %>

  </Div>
</div>