<div class="overflow-hidden rounded-lg bg-white shadow"  id="stats_header">
  <div class="px-4 py-5 sm:p-6">
    Deck Statistics
  </div>
  <dl class="mx-auto grid grid-cols-1 gap-px bg-gray-900/5 sm:grid-cols-2 lg:grid-cols-4">
    <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 bg-white px-4 py-10 sm:px-6 xl:px-8">
      <dt class="text-sm font-medium leading-6 text-gray-500">Total cards</dt>
      <dd class="text-xs font-medium text-gray-700"></dd>
      <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900"><%= @categorized_deck_flashcards.size %></dd>
    </div>
    <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 bg-white px-4 py-10 sm:px-6 xl:px-8">
      <dt class="text-sm font-medium leading-6 text-gray-500">Total correct</dt>
      <dd class="text-xs font-medium text-rose-600"></dd>
      <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900"><%= @categorized_deck_flashcards.total_correct_count %></dd>
    </div>
    <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 bg-white px-4 py-10 sm:px-6 xl:px-8">
      <dt class="text-sm font-medium leading-6 text-gray-500">Total incorrect</dt>
      <dd class="text-xs font-medium text-gray-700"></dd>
      <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900"><%= @categorized_deck_flashcards.total_incorrect_count  %></dd>
    </div>
    <div class="flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 bg-white px-4 py-10 sm:px-6 xl:px-8">
      <dt class="text-sm font-medium leading-6 text-gray-500">Accuracy</dt>
      <dd class="text-xs font-medium text-rose-600"></dd>
      <dd class="w-full flex-none text-3xl font-medium leading-10 tracking-tight text-gray-900"><%= (@categorized_deck_flashcards.average_accuracy * 100).round(0) %>%</dd>
    </div>
  </dl>
</div>

