<%= turbo_frame_tag "deck" do %>
<div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
  <!-- Category navbar & Flashcard Statistics by Category -->
  <%= render "decks/stats_navbar" %>
  <%= render 'decks/stats_header' %>




  <!-- Statistics displayed for each Flashcard -->
  <div class="px-4 py-5 sm:p-6">
    <!-- Content goes here -->
    <%= render 'decks/stats_body' %>
  </div>
  <!-- end -->
</div>
<% end %>