<%= turbo_stream.update "incorrect_count", @deck_flashcard.incorrect_count %>
<%= turbo_stream.replace "accuracy" do%>
<span id="accuracy"> <%= (@deck_flashcard.accuracy).round(0) %>% </span>
<% end %>